*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #8B9D83;
    height: 5rem;
    line-height:5rem ;
    
}
.choices{
    display: flex;
    flex-direction: row;
    gap: 6em;
    justify-content: center;
    margin-top:5rem;
}
.choice:hover{
    cursor:pointer;
    opacity:0.7;

}

img{
    border-radius: 50%;
    object-fit: cover;
    height:250px
}
.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top:3rem ;
    gap:5rem
}
#user,
#Comp{
    font-size:4rem
}
.msg-container{
    margin-top: 4rem;
}
#msg{
    font-size:3rem;
    padding: 1rem;
    border-radius: 2rem;
    display:inline;
    background-color:#BEB0A7 ;

}